<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-teacher-heading" data-cy="TeacherCreateUpdateHeading" jhiTranslate="beToeicOnlineApp.teacher.home.createOrEditLabel">
        Create or edit a Teacher
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.fullName" for="field_fullName">Full Name</label>
          <input type="text" class="form-control" name="fullName" id="field_fullName" data-cy="fullName" formControlName="fullName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.status" for="field_status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.avatar" for="field_avatar">Avatar</label>
          <input type="text" class="form-control" name="avatar" id="field_avatar" data-cy="avatar" formControlName="avatar" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.createDate" for="field_createDate">Create Date</label>
          <div class="d-flex">
            <input
              id="field_createDate"
              data-cy="createDate"
              type="datetime-local"
              class="form-control"
              name="createDate"
              formControlName="createDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.createName" for="field_createName">Create Name</label>
          <input
            type="text"
            class="form-control"
            name="createName"
            id="field_createName"
            data-cy="createName"
            formControlName="createName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.updateDate" for="field_updateDate">Update Date</label>
          <div class="d-flex">
            <input
              id="field_updateDate"
              data-cy="updateDate"
              type="datetime-local"
              class="form-control"
              name="updateDate"
              formControlName="updateDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.teacher.updateName" for="field_updateName">Update Name</label>
          <input
            type="text"
            class="form-control"
            name="updateName"
            id="field_updateName"
            data-cy="updateName"
            formControlName="updateName"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
