<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="historyContactDetails">
      <h2 data-cy="historyContactDetailsDetailsHeading">
        <span jhiTranslate="beToeicOnlineApp.historyContactDetails.detail.title">History Contact Details</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="beToeicOnlineApp.historyContactDetails.id">Id</span></dt>
        <dd>
          <span>{{ historyContactDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.historyContactDetails.historyContact">History Contact</span></dt>
        <dd>
          <span>{{ historyContactDetails.historyContact }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.historyContactDetails.isOpen">Is Open</span></dt>
        <dd>
          <span>{{ historyContactDetails.isOpen }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.historyContactDetails.status">Status</span></dt>
        <dd>
          <span>{{ historyContactDetails.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/history-contact-details', historyContactDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
