<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="classroomStudent">
      <h2 data-cy="classroomStudentDetailsHeading">
        <span jhiTranslate="beToeicOnlineApp.classroomStudent.detail.title">Classroom Student</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="beToeicOnlineApp.classroomStudent.id">Id</span></dt>
        <dd>
          <span>{{ classroomStudent.id }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroomStudent.classCode">Class Code</span></dt>
        <dd>
          <span>{{ classroomStudent.classCode }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroomStudent.studentCode">Student Code</span></dt>
        <dd>
          <span>{{ classroomStudent.studentCode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/classroom-student', classroomStudent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
