<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="question">
      <h2 data-cy="questionDetailsHeading"><span jhiTranslate="beToeicOnlineApp.question.detail.title">Question</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="beToeicOnlineApp.question.id">Id</span></dt>
        <dd>
          <span>{{ question.id }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.questionType">Question Type</span></dt>
        <dd>
          <span>{{ question.questionType }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.questionText">Question Text</span></dt>
        <dd>
          <span>{{ question.questionText }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.subjectCode">Subject Code</span></dt>
        <dd>
          <span>{{ question.subjectCode }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.level">Level</span></dt>
        <dd>
          <span>{{ question.level }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.point">Point</span></dt>
        <dd>
          <span>{{ question.point }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.status">Status</span></dt>
        <dd>
          <span>{{ question.status }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.createDate">Create Date</span></dt>
        <dd>
          <span>{{ question.createDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.createName">Create Name</span></dt>
        <dd>
          <span>{{ question.createName }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.updateDate">Update Date</span></dt>
        <dd>
          <span>{{ question.updateDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.question.updateName">Update Name</span></dt>
        <dd>
          <span>{{ question.updateName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/question', question.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
