<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="student">
      <h2 data-cy="studentDetailsHeading"><span jhiTranslate="beToeicOnlineApp.student.detail.title">Student</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="beToeicOnlineApp.student.id">Id</span></dt>
        <dd>
          <span>{{ student.id }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.code">Code</span></dt>
        <dd>
          <span>{{ student.code }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.fullName">Full Name</span></dt>
        <dd>
          <span>{{ student.fullName }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.email">Email</span></dt>
        <dd>
          <span>{{ student.email }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.phone">Phone</span></dt>
        <dd>
          <span>{{ student.phone }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.status">Status</span></dt>
        <dd>
          <span>{{ student.status }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.avatar">Avatar</span></dt>
        <dd>
          <span>{{ student.avatar }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.createDate">Create Date</span></dt>
        <dd>
          <span>{{ student.createDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.createName">Create Name</span></dt>
        <dd>
          <span>{{ student.createName }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.updateDate">Update Date</span></dt>
        <dd>
          <span>{{ student.updateDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.student.updateName">Update Name</span></dt>
        <dd>
          <span>{{ student.updateName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
