<div>
  <h2 id="page-heading" data-cy="ExamUserHeading">
    <span jhiTranslate="beToeicOnlineApp.examUser.home.title">Exam Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="beToeicOnlineApp.examUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exam-user"
        [routerLink]="['/exam-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beToeicOnlineApp.examUser.home.createLabel"> Create a new Exam User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="examUsers?.length === 0">
    <span jhiTranslate="beToeicOnlineApp.examUser.home.notFound">No examUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="examUsers && examUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.examUser.id">Id</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.examUser.studentCode">Student Code</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.examUser.examId">Exam Id</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.examUser.totalPoint">Total Point</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.examUser.answerSheet">Answer Sheet</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.examUser.timeStart">Time Start</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.examUser.timeFinish">Time Finish</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.examUser.timeRemaining">Time Remaining</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let examUser of examUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exam-user', examUser.id, 'view']">{{ examUser.id }}</a>
          </td>
          <td>{{ examUser.studentCode }}</td>
          <td>{{ examUser.examId }}</td>
          <td>{{ examUser.totalPoint }}</td>
          <td>{{ examUser.answerSheet }}</td>
          <td>{{ examUser.timeStart | formatMediumDatetime }}</td>
          <td>{{ examUser.timeFinish | formatMediumDatetime }}</td>
          <td>{{ examUser.timeRemaining }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/exam-user', examUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/exam-user', examUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(examUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
