<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="classroom">
      <h2 data-cy="classroomDetailsHeading"><span jhiTranslate="beToeicOnlineApp.classroom.detail.title">Classroom</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.id">Id</span></dt>
        <dd>
          <span>{{ classroom.id }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.code">Code</span></dt>
        <dd>
          <span>{{ classroom.code }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.name">Name</span></dt>
        <dd>
          <span>{{ classroom.name }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.teacherCode">Teacher Code</span></dt>
        <dd>
          <span>{{ classroom.teacherCode }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.status">Status</span></dt>
        <dd>
          <span>{{ classroom.status }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.avatar">Avatar</span></dt>
        <dd>
          <span>{{ classroom.avatar }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.createDate">Create Date</span></dt>
        <dd>
          <span>{{ classroom.createDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.createName">Create Name</span></dt>
        <dd>
          <span>{{ classroom.createName }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.updateDate">Update Date</span></dt>
        <dd>
          <span>{{ classroom.updateDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.classroom.updateName">Update Name</span></dt>
        <dd>
          <span>{{ classroom.updateName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/classroom', classroom.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
