<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-exam-user-heading" data-cy="ExamUserCreateUpdateHeading" jhiTranslate="beToeicOnlineApp.examUser.home.createOrEditLabel">
        Create or edit a Exam User
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.examUser.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.examUser.studentCode" for="field_studentCode"
            >Student Code</label
          >
          <input
            type="text"
            class="form-control"
            name="studentCode"
            id="field_studentCode"
            data-cy="studentCode"
            formControlName="studentCode"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.examUser.examId" for="field_examId">Exam Id</label>
          <input type="number" class="form-control" name="examId" id="field_examId" data-cy="examId" formControlName="examId" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.examUser.totalPoint" for="field_totalPoint">Total Point</label>
          <input
            type="number"
            class="form-control"
            name="totalPoint"
            id="field_totalPoint"
            data-cy="totalPoint"
            formControlName="totalPoint"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.examUser.answerSheet" for="field_answerSheet"
            >Answer Sheet</label
          >
          <input
            type="text"
            class="form-control"
            name="answerSheet"
            id="field_answerSheet"
            data-cy="answerSheet"
            formControlName="answerSheet"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.examUser.timeStart" for="field_timeStart">Time Start</label>
          <div class="d-flex">
            <input
              id="field_timeStart"
              data-cy="timeStart"
              type="datetime-local"
              class="form-control"
              name="timeStart"
              formControlName="timeStart"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.examUser.timeFinish" for="field_timeFinish">Time Finish</label>
          <div class="d-flex">
            <input
              id="field_timeFinish"
              data-cy="timeFinish"
              type="datetime-local"
              class="form-control"
              name="timeFinish"
              formControlName="timeFinish"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="beToeicOnlineApp.examUser.timeRemaining" for="field_timeRemaining"
            >Time Remaining</label
          >
          <input
            type="number"
            class="form-control"
            name="timeRemaining"
            id="field_timeRemaining"
            data-cy="timeRemaining"
            formControlName="timeRemaining"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
