<div>
  <h2 id="page-heading" data-cy="ClassroomStudentHeading">
    <span jhiTranslate="beToeicOnlineApp.classroomStudent.home.title">Classroom Students</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="beToeicOnlineApp.classroomStudent.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-classroom-student"
        [routerLink]="['/classroom-student/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="beToeicOnlineApp.classroomStudent.home.createLabel"> Create a new Classroom Student </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="classroomStudents?.length === 0">
    <span jhiTranslate="beToeicOnlineApp.classroomStudent.home.notFound">No classroomStudents found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="classroomStudents && classroomStudents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.classroomStudent.id">Id</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.classroomStudent.classCode">Class Code</span></th>
          <th scope="col"><span jhiTranslate="beToeicOnlineApp.classroomStudent.studentCode">Student Code</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classroomStudent of classroomStudents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/classroom-student', classroomStudent.id, 'view']">{{ classroomStudent.id }}</a>
          </td>
          <td>{{ classroomStudent.classCode }}</td>
          <td>{{ classroomStudent.studentCode }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/classroom-student', classroomStudent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/classroom-student', classroomStudent.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(classroomStudent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
