<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="teacher">
      <h2 data-cy="teacherDetailsHeading"><span jhiTranslate="beToeicOnlineApp.teacher.detail.title">Teacher</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.id">Id</span></dt>
        <dd>
          <span>{{ teacher.id }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.code">Code</span></dt>
        <dd>
          <span>{{ teacher.code }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.fullName">Full Name</span></dt>
        <dd>
          <span>{{ teacher.fullName }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.email">Email</span></dt>
        <dd>
          <span>{{ teacher.email }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.phone">Phone</span></dt>
        <dd>
          <span>{{ teacher.phone }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.status">Status</span></dt>
        <dd>
          <span>{{ teacher.status }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.avatar">Avatar</span></dt>
        <dd>
          <span>{{ teacher.avatar }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.createDate">Create Date</span></dt>
        <dd>
          <span>{{ teacher.createDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.createName">Create Name</span></dt>
        <dd>
          <span>{{ teacher.createName }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.updateDate">Update Date</span></dt>
        <dd>
          <span>{{ teacher.updateDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.teacher.updateName">Update Name</span></dt>
        <dd>
          <span>{{ teacher.updateName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/teacher', teacher.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
