<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="choice">
      <h2 data-cy="choiceDetailsHeading"><span jhiTranslate="beToeicOnlineApp.choice.detail.title">Choice</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="beToeicOnlineApp.choice.id">Id</span></dt>
        <dd>
          <span>{{ choice.id }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.choice.questionId">Question Id</span></dt>
        <dd>
          <span>{{ choice.questionId }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.choice.choiceText">Choice Text</span></dt>
        <dd>
          <span>{{ choice.choiceText }}</span>
        </dd>
        <dt><span jhiTranslate="beToeicOnlineApp.choice.corrected">Corrected</span></dt>
        <dd>
          <span>{{ choice.corrected }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/choice', choice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
